<div *ngIf="!(currentUser | async); else loggedIn">
  <div class="row">
    <h1 class="text-center">เข้าสู่ระบบ</h1>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <form novalidate [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group">
          <label for="email" class="sr-only">Email</label>
          <input type="text" id="email" class="form-control" placeholder="Email" formControlName="email">
        </div>
        <div class="form-group">
          <label for="password" class="sr-only">Password</label>
          <input type="password" id="password" class="form-control" placeholder="Password" formControlName="password">
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-primary form-control" value="เข้าสู่ระบบ">
        </div>
      </form>
    </div>
  </div>
</div>
<ng-template #loggedIn>
  <div [ngSwitch]="userRole | async">
    <div *ngSwitchCase="'registrar'"><and-register></and-register></div>
    <div *ngSwitchCase="'controller'"><and-controller [board]="userBoard" [role]="userRole"></and-controller></div>
    <div *ngSwitchCase="'viewer'"><and-controller [board]="userBoard" [role]="userRole"></and-controller></div>
    <div *ngSwitchDefault>No roles defined for this user</div>
  </div>
  <button class="btn btn-danger btn-block" (click)="logOut()">ออกจากระบบ</button>
</ng-template>
