<div id="panel-frame" *ngIf="(isNotLoggedIn | async); else loggedIn">
  <div class="panel panel-default">
    <div class="panel-body">
      <h1 class="text-center">วันอานันทมหิดล ๒๕๖๒</h1>
      <h4 class="text-center">กรุณาเข้าสู่ระบบ</h4>
      <br/>
      <form novalidate [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="form-group">
          <label for="email" class="sr-only">อีเมล</label>
          <input type="text" id="email" class="form-control" placeholder="อีเมล" formControlName="email" required>
        </div>
        <div class="form-group">
          <label for="password" class="sr-only">รหัสผ่าน</label>
          <input type="password" id="password" class="form-control" placeholder="รหัสผ่าน" formControlName="password" required>
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-purple form-control" value="เข้าสู่ระบบ">
        </div>
      </form>
    </div>
  </div>
  <p class="text-center small-text">ฝ่ายเทคโนโลยีสารสนเทศ สโมสรนิสิตคณะแพทยศาสตร์ จุฬาลงกรณ์มหาวิทยาลัย</p>
</div>
<ng-template #loggedIn>
  <div [ngSwitch]="userRole | async">
    <div *ngSwitchCase="'view-wreath'">
      <and-view-wreath>กำลังโหลด</and-view-wreath>
    </div>
    <div *ngSwitchCase="'registrar'">
      <and-register>กำลังโหลด</and-register>
    </div>
    <div *ngSwitchCase="'printer'">
      <and-print>กำลังโหลด</and-print>
    </div>
    <div *ngSwitchCase="'controller'">
      <and-controller [board]="userBoard" [role]="userRole">กำลังโหลด</and-controller>
    </div>
    <div *ngSwitchCase="'viewer'">
      <h3 class="no-margin-top">เรียกคิว</h3>
      <and-controller [board]="userBoard" [role]="userRole">กำลังโหลด</and-controller>
    </div>
    <div *ngSwitchDefault>ไม่ได้กำหนดสิทธิเข้าถึง กรุณาติดต่อผู้ดูแลระบบ</div>
  </div>
  <p class="text-center small-text">
    คณะแพทยศาสตร์ จุฬาลงกรณ์มหาวิทยาลัย | <a (click)="logOut()"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a>
  </p>
</ng-template>
