#panel-frame {
  margin: 6vh auto 6vh auto;
  padding: 1rem;
  max-width: 500px;

  .panel {
    margin: auto;
  }

  .btn-purple {
    color: #fff;
    background-color: #673ab7;
    border-color: #512da8;
  }
}

p.small-text {
  font-size: 1.2rem;
  margin: 1.5rem;
  color: darkgray;
}

.no-margin-top {
  margin-top: 0;
}
